### Revising the Select Query II

Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA.

In [ ]:
SELECT name FROM city
WHERE countrycode = 'USA'
    AND population > 120000;

Query all columns for a city in CITY with the ID 1661.

In [ ]:
SELECT * FROM city
WHERE ID = 1661;

In [ ]:
SELECT name
FROM city
WHERE countrycode = 'JPN';

### Weather Observation Station 3

Query a list of city names from STATION for cities that have an even ID number. Print the results in any order, but exclude duplicates from the answer.

In [ ]:
SELECT DISTINCT city
FROM station
WHERE MOD(id,2) = 0;

### Weather Observation Station 4

Find the difference between the total number of city entries in the table and the number of distinct city entries in the table.
The STATION table is described as follows:

In [ ]:
SELECT COUNT(city) - COUNT(DISTINCT city)
FROM station;

### Weather Observation Station 5

Query the two cities in STATION with the shortest and longest city names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.
The STATION table is described as follows:

In [ ]:
SELECT city, LENGTH(city) FROM station
ORDER BY LENGTH(city), city
LIMIT 1;

SELECT city, LENGTH(city) FROM station
ORDER BY LENGTH(city) DESC, city
LIMIT 1;

### Weather Observation Station 6

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT city
FROM station
WHERE city LIKE 'A%'
    OR city LIKE 'E%'
    OR city LIKE 'I%'
    OR city LIKE 'O%'
    OR city LIKE 'U%';

### Weather Observation Station 7

Query the list of CITY names ending with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT city
FROM station
WHERE city LIKE '%a'
    OR city LIKE '%e'
    OR city LIKE '%i'
    OR city LIKE '%o'
    OR city LIKE '%u';

In [ ]:
SELECT DISTINCT city
FROM station
WHERE(city LIKE 'A%'
    OR city LIKE 'E%'
    OR city LIKE 'I%'
    OR city LIKE 'O%'
    OR city LIKE 'U%')
AND(city LIKE '%a'
    OR city LIKE '%e'
    OR city LIKE '%i'
    OR city LIKE '%o'
    OR city LIKE '%u');

Weather Observation Station 9

In [ ]:
select distinct city 
from station
where(city not like 'A%'
    and city not like 'E%'
    and city not like 'I%'
    and city not like 'O%'
    and city not like 'U%';