### Revising the Select Query II

Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA.

In [ ]:
SELECT NAME FROM CITY
WHERE COUNTRYCODE = 'USA'
    AND POPULATION > 120000;

Query all columns for a city in CITY with the ID 1661.

In [ ]:
SELECT * FROM CITY
WHERE ID = 1661;

In [ ]:
SELECT NAME
FROM CITY
WHERE COUNTRYCODE = 'JPN';

### Weather Observation Station 3

Query a list of CITY names from STATION for cities that have an even ID number. Print the results in any order, but exclude duplicates from the answer.

In [ ]:
SELECT DISTINCT CITY
FROM STATION
WHERE MOD(ID,2) = 0;

### Weather Observation Station 3

Find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.
The STATION table is described as follows:

In [ ]:
SELECT COUNT(city) - COUNT(DISTINCT city)
FROM station;